<template>
  <main class="main">
    <div class="container">
      <div class="inner">
        <div class="filters">
          <FilterByCountryComponent />
          <FilterByScoreComponent />
          <button class="add" @click="setCreateUserModal" id="openCreateModal">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M4 12H20M12 4V20"
                  stroke="inherit"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </g>
            </svg>
          </button>
        </div>
        <div class="users" v-if="!isLoading">
          <UserComponent v-if="filteredUsers.length" />
          <span class="no_users" v-else-if="!filteredUsers.length && !users.length">
            No users ...
          </span>
          <span class="no_users" v-else> No users with these parameters... </span>
        </div>
        <LoaderComponent v-else />
      </div>
    </div>
  </main>
  <CreateUserComponent />
</template>

<script setup lang="ts">
import { useUsers } from '@/stores/usersStore'
import { useApp } from '@/stores/appStore'
import { onMounted, computed } from 'vue'
import FilterByCountryComponent from '@/components/FilterByCountryComponent.vue'
import FilterByScoreComponent from '@/components/FilterByScoreComponent.vue'
import UserComponent from '@/components/UserComponent.vue'
import CreateUserComponent from '@/components/CreateUserComponent.vue'
import LoaderComponent from '@/components/UI/LoaderComponent.vue'

const userStore = useUsers()
const appStore = useApp()

onMounted(() => {
  userStore.fetchUsers()
})

const filteredUsers = computed(() => userStore.filteredUsers)
const users = computed(() => userStore.users)
const isLoading = computed(() => userStore.isLoading)

const setCreateUserModal = () => {
  appStore.setCreateUserModal()
}
</script>

<style scoped lang="scss">
@import 'assets/variable';

.main {
  padding: 80px 0;

  & .inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  & .filters {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: start;
    }
  }
  & .users {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  & .no_users {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    color: $grey;
    font-weight: 600;
    font-size: 24px;

    @media (max-width: 576px) {
      display: block;
      width: 100%;
      font-size: 20px;
    }
  }
  & .add {
    min-width: 56px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 1px solid #d0d5dd;
    stroke: #d0d5dd;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-color: $grey;
      stroke: $grey;
    }

    @media (max-width: 576px) {
      width: 100%;
      border-radius: 8px;
    }
  }
}
</style>
