@import 'variable';
@import 'vuetify';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  button {
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    background: #fff;

    & svg {
      transition: inherit;
    }
  }
}

body {
  font-family: 'Source Code Pro', sans-serif;
  color: $black;
  background-color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

.select {
  width: 100%;
}

.user_item-enter-active,
.user_item-leave-active {
  transition: all 0.5s ease;
}
.user_item-enter-from,
.user_item-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
