.filters {
  .v-input__control {
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px solid #d0d5dd;
  }
}

.input .v-input__control {
  box-shadow: 0 4px 8px 0 rgba(43, 43, 43, 0.08);
  border-radius: 12px;
}
