<template>
  <section class="modal" v-if="isModalVisible" ref="modal">
    <div class="inner" ref="inner">
      <h2 class="title">Create new user</h2>
      <v-form class="form" v-model="valid" ref="form">
        <div class="avatar" :style="avatarUrl ? { backgroundImage: `url(${avatarUrl})` } : {}">
          <input
            type="file"
            class="file_input"
            ref="fileInput"
            accept="image/*"
            @change="addFile"
          />
          <span v-if="!avatarUrl"> Select image</span>
        </div>
        <v-text-field
          class="input"
          type="text"
          variant="solo"
          :flat="true"
          rounded="lg"
          :rules="[required]"
          v-model="title"
        >
          <template v-slot:label>
            <span class="label">Title <span class="red">*</span></span>
          </template>
        </v-text-field>
        <v-textarea
          class="input"
          type="text"
          variant="solo"
          :flat="true"
          rounded="lg"
          no-resize
          auto-grow
          rows="4"
          v-model="subtitle"
        >
          <template v-slot:label>
            <span class="label">Subtitle</span>
          </template>
        </v-textarea>
        <v-text-field
          class="input"
          type="text"
          variant="solo"
          :flat="true"
          rounded="lg"
          :rules="[required]"
          v-model="address"
        >
          <template v-slot:label>
            <span class="label">Address <span class="red">*</span></span>
          </template>
        </v-text-field>
        <div class="box">
          <v-text-field
            class="input"
            type="text"
            variant="solo"
            :flat="true"
            rounded="lg"
            :rules="[required]"
            v-model="country"
          >
            <template v-slot:label>
              <span class="label">Country <span class="red">*</span></span>
            </template>
          </v-text-field>
          <v-text-field
            class="input"
            type="number"
            variant="solo"
            :flat="true"
            rounded="lg"
            :rules="[required]"
            v-model="score"
          >
            <template v-slot:label>
              <span class="label">Score <span class="red">*</span></span>
            </template>
          </v-text-field>
        </div>
        <div class="box">
          <button class="button button-cancel" @click.prevent="setCreateUserModal">Cancel</button>
          <button class="button button-confirm" :disabled="!valid" @click.prevent="createNewUser">
            Create
          </button>
        </div>
      </v-form>
    </div>
  </section>
</template>

<script setup lang="ts">
import { useUsers } from '@/stores/usersStore'
import { useApp } from '@/stores/appStore'
import { computed, onMounted, ref } from 'vue'
import type { Ref } from 'vue'

const appStore = useApp()
const userStore = useUsers()

const inner: Ref<HTMLElement | null> = ref(null)
const valid: Ref<boolean> = ref(false)
const form: Ref<HTMLElement | null> = ref(null)
const title: Ref<string> = ref('')
const subtitle: Ref<string> = ref('')
const address: Ref<string> = ref('')
const country: Ref<string> = ref('')
const score: Ref<number> = ref(0)
const fileInput: Ref<HTMLInputElement | null> = ref(null)
const avatarFile: Ref<Array<File>> = ref([])
let avatarUrl: Ref<string> = ref('')

const isModalVisible = computed(() => appStore.createUserModal)

const setCreateUserModal = () => {
  appStore.setCreateUserModal()
}
const closeModal = ($event: MouseEvent) => {
  const button = document.querySelector('#openCreateModal')

  const isModal = $event.composedPath().includes(inner.value as HTMLElement)
  const isButton = $event.composedPath().includes(button as HTMLElement)

  if (isModalVisible.value) {
    if (!isModal && !isButton) {
      setCreateUserModal()
      //@ts-ignore
      form.value!.reset()
    }
  }
}
const required = (v: string) => !!v || 'Field is required!'
const addFile = () => {
  if (avatarFile.value.length !== 0) {
    avatarFile.value = []
    avatarUrl.value = ''
  }
  if (fileInput.value?.files) {
    for (let i = 0; i < fileInput.value.files.length; i++) {
      avatarFile.value.push(fileInput.value.files[i])
      avatarUrl.value = URL.createObjectURL(fileInput.value.files[i])
    }
  }
}
const createNewUser = () => {
  const user = {
    title: String(title.value),
    subtitle: subtitle.value ? String(subtitle.value) : undefined,
    score: String(score.value),
    address: String(address.value),
    country: String(country.value),
  }
  userStore.createUser(user, avatarFile.value[0])
  //@ts-ignore
  form.value!.reset()
  setCreateUserModal()
}

onMounted(() => {
  document.addEventListener('click', closeModal)
})
</script>

<style scoped lang="scss">
@import '../assets/variable';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  animation: modal 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @keyframes modal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  & .inner {
    max-width: 600px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    animation: modal_inner 0.3s ease;
    cursor: default;

    @keyframes modal_inner {
      from {
        scale: 0;
      }
      to {
        scale: 1;
      }
    }
  }
  & .title {
    font-size: 22px;
    font-weight: 600;
    color: $grey;
    margin-bottom: 20px;
  }
  & .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  & .box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 576px) {
      flex-direction: column;
      gap: 0;
    }
  }
  & .input {
    width: 100%;
  }
  & .button {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 14px;
    text-align: center;

    &-cancel {
      border: 1px solid #cb5a5a;
      color: #cb5a5a;

      @media (max-width: 576px) {
        margin-bottom: 20px;
      }

      &:hover {
        border: 1px solid #d04747;
        color: #d04747;
      }
    }
    &-confirm {
      border: 1px solid #8cf38c;
      color: #8cf38c;

      &:hover {
        border: 1px solid #52e752;
        color: #52e752;
      }
    }

    &:disabled {
      border: 1px solid #d0d5dd;
      color: #d0d5dd;
    }
  }
  & .red {
    color: #cb5a5a;
  }
  & .avatar {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 100%;
    border: 1px dashed #d0d5dd;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #d0d5dd;
    overflow: hidden;
    align-self: center;
    margin: 20px 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
      color: $grey;
      border-color: $grey;
    }

    & .file_input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
}
</style>
