<template>
  <v-select
    class="select"
    :items="countries"
    item-title="name"
    item-value="value"
    return-object
    v-model="currentCountry"
    variant="solo"
    :flat="true"
    rounded="lg"
    hide-details
  >
    <template v-slot:label>
      <span class="label">Sort by Country</span>
    </template>
  </v-select>
</template>

<script setup lang="ts">
import { useUsers } from '@/stores/usersStore'
import { ref, watch } from 'vue'
import type { IFilterState } from '@/dto/FilterState.dto'
import type { Ref } from 'vue'

const store = useUsers()

const currentCountry: Ref<IFilterState> = ref({
  name: 'All',
  value: 'all'
})

const countries = [
  {
    name: 'All',
    value: 'all'
  },
  {
    name: 'Russia',
    value: 'russia'
  },
  {
    name: 'USA',
    value: 'usa'
  }
]

watch(currentCountry, (newCountry) => {
  store.setCurrentCountry(newCountry)
  store.setFilteredUsers()
})
</script>

<style scoped lang="scss">
@import '../assets/variable';

.label {
  color: $grey;
  font-weight: 500;
}
</style>
