<template>
  <v-select
    class="select"
    :items="scores"
    item-title="name"
    item-value="value"
    return-object
    v-model="currentScore"
    variant="solo"
    :flat="true"
    rounded="lg"
    hide-details
  >
    <template v-slot:label>
      <span class="label">Sort by Score</span>
    </template>
  </v-select>
</template>

<script setup lang="ts">
import { useUsers } from '@/stores/usersStore'
import { ref, watch } from 'vue'
import type { IFilterState } from '@/dto/FilterState.dto'
import type { Ref } from 'vue'

const store = useUsers()

const currentScore: Ref<IFilterState> = ref({
  name: 'All',
  value: 'all'
})

const scores = [
  {
    name: 'All',
    value: 'all'
  },
  {
    name: '< 10',
    value: '< 10'
  },
  {
    name: '> 10',
    value: '> 10'
  },
  {
    name: '< 20',
    value: '< 20'
  },
  {
    name: '> 20',
    value: '> 20'
  }
]

watch(currentScore, (newScore) => {
  store.setCurrentScore(newScore)
  store.setFilteredUsers()
})
</script>

<style scoped lang="scss">
@import '../assets/variable';

.label {
  color: $grey;
  font-weight: 500;
}
</style>
