<template>
  <TransitionGroup class="users__grid" name="user_item" tag="div">
    <div class="user" v-for="(user, idx) of filteredUsers" :key="idx">
      <div class="user__head">
        <button class="user__avatar" @click="user.isAddressVisible = !user.isAddressVisible">
          <img
            :src="`http://localhost:3000/static/${user.avatar}`"
            :alt="user.title"
            class="avatar"
            v-if="user.avatar"
          />
          <img src="../assets/images/no-avatar.svg" :alt="user.title" class="avatar" v-else />
        </button>
        <div class="inner">
          <div class="user__info">
            <span class="user__name">Country:</span>
            <span class="user__value">{{ user.country.toUpperCase() }}</span>
          </div>
          <div class="user__info">
            <span class="user__name">Score:</span>
            <span class="user__value">{{ user.score }}</span>
          </div>
        </div>
        <button class="delete" @click="deleteUser(user.id ? user.id : 0)">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M10 11V17"
                stroke="inherit"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M14 11V17"
                stroke="inherit"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M4 7H20"
                stroke="inherit"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
                stroke="inherit"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                stroke="inherit"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </button>
      </div>
      <div class="user__body">
        <h3 class="user__title">{{ user.title }}</h3>
        <div class="user__subtitle" v-if="user.subtitle">
          <span v-if="!user.showFullSubtitle">{{ user.subtitle?.slice(0, 40) }}</span>
          <span v-else>{{ user.subtitle }}</span>
          <button
            class="user__more"
            v-if="user.subtitle?.length > 40"
            @click="user.showFullSubtitle = !user.showFullSubtitle"
          >
            <span v-if="!user.showFullSubtitle">[...]</span>
            <span v-else>[hide]</span>
          </button>
        </div>
        <span :class="user.isAddressVisible ? 'user__address user__address-show' : 'user__address'">
          <span class="user__name"> Address: </span>
          <span class="user__value">
            {{ user.address }}
          </span>
        </span>
      </div>
    </div>
  </TransitionGroup>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useUsers } from '@/stores/usersStore'

const userStore = useUsers()

const filteredUsers = computed(() => userStore.filteredUsers)

filteredUsers.value.forEach((user) => {
  user.isAddressVisible = false

  if (!user.subtitle) return

  if (user.subtitle!.length > 40) {
    user.showFullSubtitle = false
  }
})

const deleteUser = (id: number) => {
  userStore.deleteUser(id)
}
</script>

<style scoped lang="scss">
@import '../assets/variable';

.users__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-gap: 15px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

.user {
  width: 100%;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  &__head {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;

    & .inner {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 4px;
    }
  }
  &__avatar {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;

    & .avatar {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  &__subtitle {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: $grey;
  }
  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__name {
    font-size: 14px;
    color: $grey;
  }
  &__value {
    font-size: 14px;
    font-weight: 500;
  }
  &__address {
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: all 0.3s ease;
    display: flex;
    align-items: start;
    gap: 6px;

    &-show {
      max-height: 100px;
      transition: all 0.3s ease;
    }
  }
  &__more {
    color: dodgerblue;
  }
  & .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: $white;
    z-index: 1;
    stroke: #cb5a5a;

    &:hover {
      stroke: #d04747;
    }
  }
}
</style>
