<template>
  <div class="loader"></div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import '../../assets/variable';
.loader {
  align-self: center;
  margin: 80px 0;
  width: 48px;
  height: 48px;
  display: block;
  position: relative;

  &::after {
    animation-delay: 1s;
  }

  &::after,
  &::before {
    content: '';
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid $grey;
    position: absolute;
    left: 0;
    top: 0;
    animation: loaderAnimation 2s linear infinite;
  }

  @keyframes loaderAnimation {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
</style>
